ion-title {
  padding: 10px;
  height: 100px;
  font-size: 25px;
  font-family: "Mali", cursive;
  font-family: "Pacifico", cursive;
}

body {
  font-family: "Mali", cursive;
  font-family: "Pacifico", cursive;
}

span {
  font-family: "Mali", cursive;
  font-family: "Pacifico", cursive;
}

ion-card{
  margin: auto;
}